# macos
.DS_Store

# virtual env
.venv/

# schedules
[0-9][0-9][0-9][0-9]_[0-9][0-9].csv

# active classes
active_classes.csv

# Logs
run_logs/

# Database
chalk_schedule.sqlite

# Secrets & credentials
secrets/
credentials/
.env

# Cache
__pycache__

# Session
Session.local.vim
